.vscode
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/stuff/.~lock.GAME point.docx#
public/stuff/.~lock.Sample game.xlsx#
public/js/dashboard-admin.js
public/js/all-admin.js
public/storage
public/js/all-client.js
public/css/native.css
public/js/dashboard-admin.js.LICENSE.txt
public/js/dashboard-admin.js
public/js/app.js
public/js/all-client.js.LICENSE.txt
public/js/all-client.js
public/js/all-admin.js
