@mixin sameSize($size) {
    width: $size;
    height: $size;
}

@mixin openNav($depthParent: 1) {
    $rootString: #{&};
    $parentIndex: str-index($rootString, " ");
    $parent: str_slice($rootString, 0, $parentIndex - $depthParent);
    $children: str_slice($rootString, $parentIndex);

    @at-root #{$parent}.nav--open #{$children} {
        @content;
    }
}

