@use 'nav';

.header {
    position: relative;
    #landingPage & {
        background: {
            image: url('../img/header-landing.jpg');
            color: rgba($color: #003a69, $alpha: 0.6);
            blend-mode: overlay;
            attachment: fixed;
            size: cover;
        }
        @apply flex flex-col;
        height: 90vh;
    }
}

/*landing-page style*/
#landingPage {

    main {
        @apply bg-gray-100;
    }

    #section-new-product {
        .card-product {
            img {
                width: 100%;
            }
        }
    }

    #section-catalog {
        &__promo {
            @apply w-full relative;
            background-image: url('../img/special-edition.jpg');
        }
        &__overlay {
            @apply absolute top-0 left-0 h-full w-full;
            opacity: 0.43;
            background-image: linear-gradient(100deg, #000000 0%, rgba(17,107,191,0.39) 100%);
        }
    }
}
/*end of landing-page style*/

/*register style*/
#registerPage {
    header {
        @apply flex flex-col flex-grow;
        background: {
            image: url('../img/static/auth-bg.jpg');
            attachment: fixed;
            size: cover;
        }

        .bg-overlay {
            background-image: linear-gradient(180deg, #000000 0%, #54595f 100%);
            @apply absolute w-full h-full inset-0;
            opacity: 0.5;
        }
    }

    .auth-box {
        @apply p-4 border border-gray-400;
    }
}
/*end of storePage style*/

@tailwind utilities;