.font {
    &-architects {
        font-family: 'Architects Daughter', cursive;
    }
    &-shadows-light {
        font-family: 'Shadows Into Light', cursive;
    }
    &-amita {
        font-family: 'Amita', cursive;
    }
}