@import './../plugin/tabbyjs/sass/tabby-ui.scss';
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Architects+Daughter&family=Annie+Use+Your+Telescope&family=Shadows+Into+Light&display=swap');

@tailwind base;
@tailwind components;

@import 'mixin';
@import 'helper';

@import './component/btn', './component/alert', './component/input', './component/modal', './component/dropdown-menu', './component/thanks-box', './component/card';


* {
    @apply p-0 m-0 box-border;
}

html,
body {
    @apply h-full;
}

body {
    @apply flex flex-wrap;
}

main,
header {
    @apply w-full;
}

::selection {
    @apply text-white bg-gray-700;
}

.box-promo {

    &__heading,
    &__subheading {
        @apply max-w-full overflow-hidden;
        text-overflow: ellipsis;
        font-family: 'Amita', cursive;
    }
}

:disabled {
    @apply opacity-50 cursor-not-allowed;
}

.section {
    &__heading {

        span {
            @apply relative;

            &::after {
                content: '';
                bottom: -30px;
                height: 2px;
                @include centerPosition;
                @apply bg-black w-3/5;
            }
        }
    }
}

//mixin
