@mixin sameSize($size) {
    width: $size;
    height: $size;
}

@mixin openNav($depthParent: 1) {
    $rootString: #{&};
    $parentIndex: str-index($rootString, " ");
    $parent: str_slice($rootString, 0, $parentIndex - $depthParent);
    $children: str_slice($rootString, $parentIndex);

    @at-root #{$parent}.nav--open #{$children} {
        @content;
    }
}

@mixin centerPosition($position: absolute, $isHorizontalCenter: true, $isVerticalCenter: true) {
    @if $position !=static {
        position: $position;
    }

    @if $isHorizontalCenter {
        @apply left-1/2 transform -translate-x-1/2;
    }

    @if $isVerticalCenter {
        @apply top-1/2 transform -translate-y-1/2;
    }
}

@mixin centerFlex($isBlock: true, $direction: row, $isPrimaryAxisCenter: true, $isSecondaryAxisCenter: true) {
    flex-direction: $direction;

    @if $isBlock {
        @apply flex;
    }

    @else {
        @apply inline-flex;
    }

    @if $isPrimaryAxisCenter {
        @apply justify-center;
    }

    @if $isSecondaryAxisCenter {
        @apply items-center;
    }
}
