@mixin sameSize($size) {
    width: $size;
    height: $size;
}

@mixin openNav($depthParent: 1) {
    $rootString: #{&};
    $parentIndex: str-index($rootString, " ");
    $parent: str_slice($rootString, 0, $parentIndex - $depthParent);
    $children: str_slice($rootString, $parentIndex);

    @at-root #{$parent}.nav--open #{$children} {
        @content;
    }
}

@mixin centerPosition($position: absolute, $isHorizontalCenter: true, $isVerticalCenter: true) {
    @if $position !=static {
        position: $position;
    }

    @if $isHorizontalCenter {
        left: 50%;
        transform: translateX(-50%);
    }

    @if $isVerticalCenter {
        top: 50%;
        transform: translateY(-50%);
    }
}

@mixin centerFlex($isBlock: true, $isPrimaryAxisCenter: true, $isSecondaryAxisCenter: true) {
    @if $isBlock {
        @apply flex;
    }

    @else {
        @apply inline-flex;
    }

    @if $isPrimaryAxisCenter {
        @apply justify-center;
    }

    @if $isSecondaryAxisCenter {
        @apply items-center;
    }
}
