@import './../template/assets/extra-libs/c3/c3.min.css';
@import './../template/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css';
@import './../template/dist/css/style.css';
@import './../plugin/datatables.net/css/datatables.min.css';

#dashboardPage {
    #add-product-btn {

        span {
            height: 100%;
            width: 100%;
        }

        svg {
            width: 2rem !important;
            height: 2rem !important;
        }
    }  
}
.color-circle {
    width: 15px;
    height: 15px;
    display: inline-block;
    line-height: 100%;
}
.option-item {
    cursor: pointer;
}