@import 'general';

@import './component/section',
        './component/btn',
        './component/alert',
        './component/input',
        './component/modal',
        './component/dropdown-menu',
        './component/thanks-box',
        './component/card',
        './component/card',
        './component/nav.scss',
        './component/overlay',
        './component/step',
        './component/list',
        './component/toggle-box';

@import './helper/font',
        './helper/visibility',
        './helper/text';


@tailwind utilities;
