@use 'mixin';
@use 'general';

#gamePage {

    main {
        @apply flex flex-wrap h-full pb-4;
    }

    .sidebar-game {
        min-width: general.$width-sidebar-game;
        @apply bg-gray-300;

        @screen md {
            min-width: general.$width-sidebar-game-lg;
        }

        &__container {
            @apply h-full flex;

            @screen md {
                @apply flex-col;
            }
        }

        &__dropdown-box {
            transition-duration: general.$trans-duration;
            @apply pl-5 opacity-0 invisible h-0 overflow-hidden transition transition-all;

            &--active {
                @apply opacity-100 visible h-auto;
            }
        }


        &__link {
            @include mixin.centerFlex($isPrimaryAxisCenter: false);
            @apply px-4 w-1/3 py-4 capitalize cursor-pointer;

            @screen md {
                @apply w-auto;
            }

        }

    }

    .section-game {
        @include mixin.sameSize(100%);

        @screen md {
            width: calc(100% - #{general.$width-sidebar-game-lg});
        }

        &__slide-number {
            @apply text-6xl cursor-pointer;
        }

        &__paragraph {
            @apply capitalize;
        }

        &__item {
            @include general.centerFlex;
            transition: height general.$trans-duration;
            @apply h-64 flex-col relative;

            &--next,
            &--prev {
                @apply cursor-pointer;
            }

            &--prev .section-game__paragraph,
            &--next .section-game__paragraph {
                @apply invisible;
            }

            &--prev .section-game__slide-number {
                right: 25%;
                @apply relative transform translate-x-1/2;
            }

            &--next .section-game__slide-number {
                left: 25%;
                @apply relative transform -translate-x-1/2;
            }

            &--active {
                height: 25rem;
            }

            &--checked {
                @apply absolute inset-0 h-0 w-0 invisible;
                @include general.centerFlex;

                transition: {
                    property: height, width;
                    duration: general.$trans-duration;
                }

                background-color: inherit;
            }
        }

        &__btn-slide {
            @include general.sameSize(40px);
            @include mixin.centerPosition($isHorizontalCenter: false);
            @include mixin.centerFlex;
            @apply rounded-full bg-black bg-opacity-25 z-10;

            &--prev {
                left: 1rem;
            }

            &--next {
                right: 1rem;
            }
        }

        &__input {
            @apply bg-white border-transparent text-center p-2 rounded text-gray-900;
        }

        &__thank-you {
            background-color: inherit;
            color: inherit;
            @apply absolute inset-0 h-full w-full capitalize transition transition-all opacity-0 invisible text-xl;
            @include mixin.centerFlex($direction: column);

            &--show {
                @apply visible opacity-100;
            }
        }

        input[name=choose_option] {
            @apply absolute inset-0 z-10 h-0 w-0 overflow-hidden;
        }

        input[name=choose_option]:checked+.section-game__item--checked {
            transition: all general.$trans-duration;
            @apply opacity-100 visible h-full w-full;
        }

    }

}
