@use 'mixin';
@use 'general';

#gamePage {

    main {
        @apply flex flex-wrap;
    }

    .sidebar-game {
        min-width: general.$width-sidebar-game;
        @apply bg-gray-300;

        @screen md {
            min-width: general.$width-sidebar-game-lg;
        }

        &__container {
            @apply flex h-full;

            @screen md {
                @apply flex-col;
            }
        }

        &__dropdown-box {
            transition-duration: general.$trans-duration;
            @apply pl-5 opacity-0 invisible h-0 overflow-hidden transition transition-all;

            &--active {
                @apply opacity-100 visible h-auto;
            }
        }

        &__link {
            @include mixin.centerFlex($isPrimaryAxisCenter: false);
            @apply px-4 w-1/3 py-4 capitalize cursor-pointer;

            @screen md {
                @apply w-auto;
            }

        }

    }

    .section-game {
        @include mixin.sameSize(100%);

        @screen md {
            width: calc(100% - #{general.$width-sidebar-game-lg});
        }

        &__period {
            @apply pb-10 flex items-center justify-between;
        }

        &__timer {
            @apply text-4xl;
        }

        &__slide-number {
            @apply text-3xl cursor-pointer;
        }

        &__paragraph {
            @apply capitalize;
        }

        &__item {
            @include general.centerFlex;
            transition: height general.$trans-duration;
            @apply flex-col relative p-4;

            &--checked {
                @apply invisible mt-5 absolute bg-parent;
                @include general.centerFlex;

                transition: {
                    property: height, width, position;
                    duration: general.$trans-duration,
                    general.$trans-duration,
                    calc(#{general.$trans-duration} * 2);
                }
            }
        }

        &__btn-slide {
            @include general.sameSize(40px);
            @include mixin.centerPosition($isHorizontalCenter: false);
            @include mixin.centerFlex;
            @apply rounded-full bg-black bg-opacity-25 z-10;

            &--prev {
                left: 1rem;
            }

            &--next {
                right: 1rem;
            }
        }

        &__input {
            @apply bg-white border-transparent text-center p-2 rounded text-gray-900;
        }

        &__thank-you {
            @include mixin.centerFlex($direction: column);
            @include mixin.sameSize(100%);
            @apply absolute inset-0 capitalize transition transition-all opacity-0 invisible p-3 text-center bg-parent text-parent;

            &--show {
                @apply visible opacity-100;
            }
        }

        input[name=choose_option] {
            @apply absolute inset-0 z-10 h-0 w-0 overflow-hidden;
        }

        input[name=choose_option]:checked+.section-game__item--checked {
            @apply opacity-100 visible h-full w-full static;
        }

    }

    .game-rule {

        ol {
            @apply pl-4;
        }

        li {
            @apply mb-4 list-decimal;
        }

    }

}
