.section {
    &__heading {

        span {
            @apply relative;

            &::after {
                content: '';
                position: absolute;
                bottom: -10%;
                height: 2px;
                left: 50%;
                transform: translateX(-50%);
                @apply bg-black w-3/5;
            }
        }
    }
}