header:not(.modal__header) {
    @screen lg {
        height: 90px;
    }
}
.nav {
    @apply bg-white;
    box-shadow: 0 1px 5px rgba(53, 53, 53, 0.3);

    .container {
        @apply flex flex-col bg-white pt-4 max-w-none px-0;

        @screen lg {
            @apply flex-row bg-transparent pt-0 max-w-screen-xl px-5;
        }
    }


    &__ul {
        @apply flex flex-col px-4 flex-grow;


        & & {
            @apply pl-4;
        }

        @screen lg {
            @apply flex-row;
        }
    }

    &__logo {
        @apply overflow-hidden inline-flex mr-auto max-w-1/2;

        @screen lg {
            @apply flex items-center max-w-none mr-0;
        }
    }

    &__icon {
        @apply flex items-center justify-center;

        #total-shopping {
            position: absolute;
            transform: translateY(5px);
        }

        &--bag box-icon {
            @include sameSize(45px);
        }

        &-cart {
            @apply flex items-center justify-center;
        }
    }

    &__toggle-menu {
        transform: translateY(4px);

        box-icon {
            @include sameSize(30px);
        }

        @screen lg {
            @apply hidden;
        }
    }

    &__item {
        @apply flex;

        &--first {
            @apply border-b-2 border-gray-200 px-4 pb-4;

            @screen lg {
                width: 20%;
            }
        }

        &--cart {
            @apply w-1/2;
        }

        &--menu {
            @apply flex-col h-0 opacity-0 transition-none;
            // disable transition when wanna close nav

            .nav--open & {
                @apply h-auto opacity-100 transition transition-all duration-200;
            }

            @screen lg {
                @apply z-50 opacity-100 h-auto; //z-50 == z-index teratas di tailwind
            }

        }

        &-has-child {
            @apply relative;

            & & {
                @apply pr-0;
            }

            .nav__item {
                @apply max-h-0;
            }

            .nav__ul {
                @apply overflow-hidden transition transition-all h-0 opacity-0 invisible;

                @screen lg {
                    @apply flex-col absolute overflow-visible;
                    top: 100%;

                    & & {
                        @apply transition-all top-auto border-l border-gray-300;
                        left: calc(100% + 1rem);
                    }
                }
            }

            &--open {

                .nav__item {
                    @apply max-h-none;
                }

                >.nav__link--open-child {

                    .child-dropdown-icon {
                        @apply transform rotate-180;
                    }
                }

                >.nav__ul {
                    @apply h-auto opacity-100 visible;

                    .nav__link {
                        @apply justify-start;
                    }
                }

            }
        }

    }

    &__link {
        @apply flex py-3;

        @screen lg {
            @apply justify-center;

            #landingPage .container>.nav__ul>.nav__item>& {
                @apply text-white;
            }
        }
    }

    #open-icon {
        display: initial;

        @include openNav {
            @apply hidden;
        }
    }

    #close-icon {
        @apply hidden;

        @include openNav {
            display: initial;
        }
    }

    #landing-page & {
        @apply shadow-none;
    }
}
